<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.epfl.qedit">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.LoginActivity"
            android:label="@string/login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.HomeActivity"
            android:label="@string/home"
            android:parentActivityName=".view.LoginActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW_ROLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.QuizActivity"
            android:parentActivityName=".view.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.QUICK_VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Addresses:
            Warning: activity#com.google.firebase.auth.internal.FederatedSignInActivity@android:launchMode was tagged at AndroidManifest.xml:24 to replace other declarations but no other declaration present
        -->
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            tools:replace="android:launchMode"
            android:launchMode="standard" />
    </application>
</manifest>
